* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif; /* Font family */
}

#info,
#headline {
    text-align: center;
    padding: 10px;
    color: #555; /* Dark text color */
}

#headline {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #444; /* Dark text color */
}

#tip_cal {
    background-color: #ecf0f1; /* Light gray background */
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    font-family: 'WildWest';
    font-size: 1.3rem;
    color: #666; /* Dark text color */
}

.form-input {
    border: 2px solid #333; /* Dark border color */
    border-radius: 5px;
    padding: 5px; /* Add some padding to the input fields */
    color: #333; /* Dark text color */
}

/* You can adjust the colors further if needed. */
