* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    color: #bdc3c7; /* Text color (light gray) */
    font-family: Arial, sans-serif; /* Font family */
}

#info,
#headline {
    text-align: center;
    padding: 10px;
    color: #e74c3c; /* Text color (red) */
}

#headline {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #3498db; /* Text color (blue) */
}

#tip_cal {
    background-color: #ecf0f1; /* Light gray background */
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    color: #34495e; /* Text color (dark gray) */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    font-family: 'WildWest';
    font-size: 1.3rem;
    color: #e67e22; /* Text color (orange) */
}

.form-input {
    border: 2px solid #27ae60; /* Dark border color (green) */
    border-radius: 5px;
    padding: 5px; /* Add some padding to the input fields */
    color: #8e44ad; /* Text color (purple) */
}

/* You can adjust the colors as you like for your preferred style. */
