* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: linear-gradient(45deg, #222, #333); /* Dark background gradient */
    background-size: 100% 50%;
    background-repeat: no-repeat;
    color: #ddd; /* Light gray text color */
    font-family: Arial, sans-serif;
}

#info,
#headline {
    text-align: center;
    padding: 10px;
    color: #e74c3c; /* Red text color */
}

#headline {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #f39c12; /* Orange text color */
}

#tip_cal {
    background-color: #444; /* Dark gray background */
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
    color: #666; /* Light gray text color */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    font-family: 'WildWest';
    font-size: 1.3rem;
    color: #3498db; /* Blue text color */
}

.form-input {
    border: 2px solid #e67e22; /* Dark orange border color */
    border-radius: 5px;
    padding: 5px;
    color: #9b59b6; /* Purple text color */
}

/* You can further adjust the colors to your liking for your preferred dark style. */
